/Data/BPI Challenge 2017.xes
/Data/BPI Challenge 2017.csv
/Data/BPI Challenge 2016_ Questions_1_all
/Data/BPI_Challenge_2019/BPI_Challenge_2019.csv
/Data/BPI_Challenge_2019/BPI_Challenge_2019.xes
/Data/BPIC15_1/BPIC15_1.xes
/Data/BPIC15_1/BPIC15_1.csv
